#header {
    font-family: 'fantasy';
}

#titulo {font-family: 'sans-serif' ;}

#titulorutas {font-family: "fantasy, sans-serif";
color: rgb(15, 62, 73);}

.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

